body{
  font-family: Roboto;
  background-color: #ffffff;
}



:root{
  --color-bg-cero:#737373;
  --color-bg-dark:#1B3659;
  --color-bg:#6667AB;
  --color-bg-variant: #4A7EBF;
  --color-blue:#35C4F3;
  --color-green:#B6D444;
  --color-white:#fff;
  --color-yellow:#EEBA1C;
  --color-naranja:#F16639;
  --color-rosa:#E8226B;
  --color-rosa:#f25d27;
  
}













.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}




.bannerPrincipal{
  position: relative ;
  background: rgb(102,103,171) ;
  background: linear-gradient(228deg, rgba(102,103,171,0.7) 0%, rgba(74,126,191,0.7) 100%) !important; 
  width: 100%;
  height: 100% !important;
  
  
}

.bannerPrincipalContenido{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(102,103,171);
  background: linear-gradient(228deg, rgba(102,103,171,0.7) 0%, rgba(74,126,191,0.7) 100%); 
  z-index: 1;
  
  
}

.bannerPrincipalTexto{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bannerPrincipalTitulo{
  color:#ffffff ;
  font-weight: 100;
  font-size: 20vh;
  text-align: center;
  

}

.bannerPrincipalSubTitulo{
  color:#ffffff ;
  font-weight: 100;
  font-size: 4vh;
  text-align: center;
}



/* responsive-movil */

@media (min-width: 200px) and (max-width: 767px){
  .bannerPrincipalTitulo{
    color:#ffffff ;
    font-weight: 100;
    font-size: 7vh;
    text-align: center;
    
  
  }
  
  .bannerPrincipalSubTitulo{
    color:#ffffff ;
    font-weight: 100;
    font-size: 2vh;
    text-align: center;
  }
}
/* responsive-tablet */

@media (min-width: 767px) and (max-width: 991px){
  .bannerPrincipalTitulo{
    color:#ffffff ;
    font-weight: 100;
    font-size: 10vh;
    text-align: center;
    
  
  }
  
  .bannerPrincipalSubTitulo{
    color:#ffffff ;
    font-weight: 100;
    font-size: 2vh;
    text-align: center;
  }
}

/* responsive-pc */

@media (min-width: 991px) and (max-width: 1920px){
  .bannerPrincipalTitulo{
    color:#ffffff ;
    font-weight: 100;
    font-size: 20vh;
    text-align: center;
    
  
  }
  
  .bannerPrincipalSubTitulo{
    color:#ffffff ;
    font-weight: 100;
    font-size: 4vh;
    text-align: center;
  }
}
