body{
  font-family: Roboto;
  background-color: #ffffff;
}



:root{
  --color-bg-cero:#737373;
  --color-bg-dark:#1B3659;
  --color-bg:#6667AB;
  --color-bg-variant: #4A7EBF;
  --color-blue:#35C4F3;
  --color-green:#B6D444;
  --color-white:#fff;
  --color-yellow:#EEBA1C;
  --color-naranja:#F16639;
  --color-rosa:#E8226B;
}









